[2019-01-21 19:07] rbhatia46 opened #76 "Include a back-to-top button on scrolling down"
On scrolling the website, a back-to-top button can be included in the bottom-right corner to make it easier to navigate back to the top.
Please let me know if you need any help with this or if I can integrate this in the existing UI.

[2020-01-29 16:19] jhung opened #91 "Add a page for UI Options"
Currently there is no good way of finding where to download UI Options, or how to install it.

Add a page for UI Options that gives instructions on where to download different versions, and links to relevant documentation.

[2020-01-29 16:20] jhung opened #92 "Update project partners and officers"
Review list of project partners and officers, and edit the copy as needed.

[2020-02-06 14:38] #91 closed

[2020-02-06 16:21] jhung opened #94 "Add screen reader or other AT details to the Technical Details section"
## Describe the solution you'd like
Add a section to list ATs and their versions in the technical details section of a bug report.

[2020-02-22 11:39] aashimgarg commented on #76
Hey @rbhatia46. Can  work on this issue?

[2020-02-22 14:13] aashimgarg opened #95 "There is no spacing before and after the footer tag."
There is no spacing before and after the footer tag and it doesnt look good.

[2020-02-22 16:00] bistaastha commented on #94
@jhung Hi! Can I work on adding this to the bug report template?

[2020-02-22 18:31] aashimgarg opened #98 "Typesetting Links."
When the cursor is over the links the padding is not present which.

By giving the padding to the link we can get better UI at various places in the webpage.

Example links in the navbar.
Before
![Screenshot from 2020-02-27 19-12-30](https://user-images.githubusercontent.com/55639487/75450936-af0bb280-5995-11ea-90bc-c4bc652deaa8.png)

After
![Screenshot from 2020-02-27 19-16-16](https://user-image

[2020-02-23 02:01] karanb1 opened #100 "A UI change"
## Is your feature request related to a problem?
Dropdowns on the resources page does not have the cursor set to pointer which looks better and creates better user Experience.
## Describe the solution you'd like
Convert the cursor to pointer.

[2020-02-23 02:15] karanb1 opened #102 "CSS Focus bug"
Even if we move to another option on the resources page the option we clicked previously remain on focus.
<img width="1280" alt="Screenshot 2020-02-23 at 7 40 40 AM" src="https://user-images.githubusercontent.com/53102310/75102377-732cc200-5610-11ea-8e67-288ee7970b09.png">

[2020-02-23 20:22] aashimgarg opened #103 "The Images on the home page when hovered did not show any change."
## Is your feature request related to a problem?
The images on the home page when hovered did not have any effect.
This effect is not needed for the news pages as the images are too big in size.

## Describe the solution you'd like
The images when hovered should show some change in them like we can decrease the opacity.
This will make things look better and for a good user experience.

[2020-02-24 14:45] jobara commented on #95
@aashimgarg could you please provide some more information about this? For example, a link to the code or a code snippet, screen shot, steps to reproduce, browsers and platforms that are affected.

[2020-02-24 16:09] Chaitanyassr opened #105 "image overlap when text size is adjusted to 0.5."
## Describe the bug
image overlap when text size is adjusted to 0.5.

### To reproduce
Steps to reproduce the behavior:
1. click on preference
2. adjust the text size to 0.5
3. See error

### Expected behavior
Image should not overlap with text

## Screenshots
![Screenshot (164)](https://user-images.githubusercontent.com/30374226/75169155-1505f900-574e-11ea-9230-07ff3e20e28a.png)

 - Browser [e.g.

[2020-02-24 16:18] Chaitanyassr opened #106 "at text size 1.1 and greater option in "ui option" went down to News make it look like news option."
## Describe the bug
at text size 1.1 and greater option in "ui option" went down to News make it look like news option.

### To reproduce
Steps to reproduce the behavior:
1.click on preference
2. text size set to 1.1 or greater
3. See error

### Expected behavior
option should be below ui so that it can feel sensible while reading.

## Screenshots
![Screenshot (165)](https://user-images.githubuser

[2020-02-24 16:31] aashimgarg commented on #105
Can i work on this issue @Chaitanyassr ?

[2020-02-24 18:13] aashimgarg opened #107 "Images are not responsive when the text size is decreased."
When the text size is decreased the home page images remains in the same size.
Their size does not decrease.

Screenshot
![Screenshot from 2020-03-01 01-29-51](https://user-images.githubusercontent.com/55639487/75614172-11aeab00-5b5c-11ea-89c3-52e65988600c.png)

I think the images should be responsive as soon as the text size is decreased the images size should also decrease.

[2020-02-24 18:17] aashimgarg opened #108 "The highlighted links overlaps when the line-spacing is decreased."
When the line-spacing is decreased the highlighted links (in yellow color) overlaps with the text placed above and beneath it.

Screenshot:-
![Screenshot from 2020-02-29 23-55-24](https://user-images.githubusercontent.com/55639487/75613010-e3769e80-5b4e-11ea-936e-49327cde448b.png)

[2020-02-24 23:46] karanb1 commented on #105
I am working on this issue, @jhung can you help me with this?

[2020-02-25 11:37] jhung commented on #94
@bistaastha Sure. You can see this template as an example of how it should be done.

https://github.com/fluid-project/fluidproject.org/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2020-02-25 11:51] jhung commented on #100
@karanb1
Can you explain why changing the cursor to a pointer will be better for user experience? What is the default browser behaviour for a cursor on a `<button>` element?

[2020-02-25 11:56] jhung commented on #102
@karanb1 can you describe the steps to reproduce this issue?

In the future, please follow the templates for _Enhancement_ and _Bug_ reports. What you are reporting sounds like a _Bug_ and should follow the template when reporting a Github issue.

[2020-02-25 12:01] jhung commented on #103
@aashimgarg can creating a Github issue, please provide as much detail as possible for us to understand what you are talking about. When you say "images" - which images? All images? Some of them? Just one on a single page? Please be more specific in your details.

Also, why is showing a change to an image when hovered a good user experience? Does it fix usability problem or is it only to make thin

[2020-02-25 13:28] jhung commented on #105
@Chaitanyassr thank you for finding this bug and providing the needed details for us to understand the problem. 👍

Before starting on a pull request, can someone help investigate the cause of the issue and explain a possible solution?

[2020-02-25 13:39] aashimgarg commented on #103
@jhung please review it!

[2020-02-25 13:44] jobara commented on #103
@aashimgarg you still haven't indicated why changing the images on hover is a good user experience.

[2020-02-25 17:22] sachin10101998 opened #109 "Using LocalStorage instead of Cookies for storing User preferences data"
## Is your feature request related to a problem?
Cookies send server information back every time an HTTP request is made. `localStorage` is an implementation of the `Storage` Interface. Unlike with cookies, data does not have to be sent back and forth with every HTTP request. This reduces the overall traffic between the client and the server and the amount of wasted bandwidth. This is because data

[2020-02-25 17:26] sachin10101998 commented on #109
@jhung , @jobara is there any other data stored in those cookies or some other reason for using them which I might have missed?

[2020-02-25 18:11] jobara commented on #109
@sachin10101998 I think the first step would be to create a new store type in Infusion ( https://github.com/fluid-project/infusion/blob/master/src/framework/preferences/js/Store.js ). Please file a ticket against infusion at https://issues.fluidproject.org.

One benefit of the cookies is that you can do server side rendering of some of the adaptations to improve speed on page load. That's not some

[2020-02-25 18:18] sachin10101998 opened #110 "Contents of "Table of Contents" overlap with each other when line spacing is less than 1."
## Describe the bug
Contents of "Table of Contents" overlap with each other when line spacing is less than 1.

### To reproduce
Steps to reproduce the behavior:
1. Go to Preferences.
2. Turn on the table of contents.
3. Reduce the line spacing to some number less than 0.9
4. See error

### Expected behavior
The different points in the table of contents should not overlap when line spacing is decre

[2020-02-25 18:52] sachin10101998 opened #111 "Add full Text Search feature to search among the various news articles published"
## Is your feature request related to a problem?
As the number of news articles published on floeproject.org increases, searching and finding a particular news article and some information inside the article becomes tougher and tougher.

## Describe the solution you'd like
There are three ways to implement a search feature.
1) Using Client-side Javascript libraries such as [Elasticlunr](http://ela

[2020-02-25 18:59] sachin10101998 commented on #111
An example of such a `lunr` based search feature can be found at [this project](https://sachin10101998.github.io/aima-exercises/) of mine. I completed this for my GSoC 2019 project and can implement similar such search feature for floeproject too.
Let me know your views about this @jhung , @jobara

[2020-02-25 20:47] karanb1 commented on #100
It gives the user the feeling that the button is clickable and by hitting the target something will be triggered. The default behaviour of a cursor on the <button> tag is not a hand pointer and this PR tackles that issue.

[2020-02-25 21:00] karanb1 commented on #102
I apologise for not following the template.
To reproduce: click on a button and then move to another option the previously clicked button remain on focus.

The hover effect works but the focus on the previously clicked button is not suitable for keyboard users and there is a sense of confusion that on which option they are currently at.

[2020-02-25 22:05] sachin10101998 commented on #109
Hey @jobara, @jhung, I raised a [ticket for this issue](https://issues.fluidproject.org/browse/FLOE-575). Should I start working on this? If yes, should we start by making a new data store type in [infusion](https://github.com/fluid-project/infusion/blob/master/src/framework/preferences/js/Store.js) and then write js to change key-value pairs as per the preferences are changed in the preferences c

[2020-02-25 22:22] sachin10101998 commented on #94
Hey @jhung , Could you elaborate on what 'Technical Details Section' and 'AT details you are referring to here?

[2020-02-25 22:37] sachin10101998 commented on #107
@aashimgarg Can you provide more details about this issue? To be precise, which images are you referring to here. It would be really helpful if you could provide screenshots of the same.

[2020-02-26 09:21] karanb1 commented on #105
A probable cause can be that the text is responding to the change in size but the images are not responding to that.
I think putting the text and the image in different divs and defining the image in terms of percentage can solve this issue.

[2020-02-26 11:08] sachin10101998 commented on #105
Interesting Info: The bug is system dependent. On reducing the text size to 0.5, instead of going over the images on the home page, the right column ext and images move on top of the left column images and text. Sample screenshots are attached below.
1)
![Screenshot from 2020-02-26 16-00-20](https://user-images.githubusercontent.com/34926285/75336538-58c54380-58b1-11ea-8e2d-a410e7d3a0d9.png)
2)
![

[2020-02-26 12:53] aashimgarg commented on #107
i am working on this issue!

[2020-02-26 14:11] aashimgarg commented on #103
I think the website will look plain without much effect . Even if there is a small amount of change the website will look better especially the home page.

[2020-02-26 14:52] jobara commented on #103
While animations may have some aesthetic appeal, they can be distracting to some, and may not fit with the overall design. For example, by having a hover effect it calls attention to the image. However, in this case the images are not interactive and are more decorative.

Is there something specific about the images and/or how they are used that you think is causing a problem? Is there something m

[2020-02-26 15:07] jobara commented on #102
@karanb1 could you please provided detailed step-by-step instructions for reproducing this issue and include which browser and platform you experienced it on? I'm not seeing the issue, but I may not be understanding the problem or not using the correct steps to reproduce it.

[2020-02-26 15:11] jobara commented on #109
@sachin10101998 could you file a ticket against Infusion, https://issues.fluidproject.org/projects/FLUID/issues/FLUID-5912?filter=allopenissues, for adding a new store type. You could work on that if you like.

[2020-02-26 15:52] sachin10101998 commented on #109
@jobara , just for clarity, by raising a ticket, you mean creating a new issue for Fluid Infusion project, right?

[2020-02-26 16:00] sachin10101998 commented on #109
@jobara , I created another [issue against fusion ](https://issues.fluidproject.org/browse/FLUID-6458).  I'd start working on a draft and get it reviewed by you before starting a PR.

[2020-02-27 02:37] karanb1 commented on #102
<img width="1280" alt="Screenshot 2020-02-23 at 7 40 40 AM" src="https://user-images.githubusercontent.com/53102310/75407083-214daa00-5938-11ea-8458-09c2fed2c837.png">
I am using google chrome for MacOS

[2020-02-27 13:10] jobara commented on #76
This issue needs further design considerations.

[2020-02-27 13:13] jobara commented on #98
@aashimgarg can you please provide more information about what the issue is. Steps to reproduce, screen shots, details on why this is an issue and what would help to improve it should be included in the description where possible.

[2020-02-27 13:27] jobara commented on #102
@karanb1 thanks for the information. It's still not clear to me if this is an issue and that is because there is some ambiguity in your instructions. When you say "moved to another option" you don't mention what method you used to move to another option. If you use the keyboard to focus "Multimodal Presentation, Content Adaptation and Personal Preferences" and then used the mouse to hover "Inclusi

[2020-02-27 13:49] aashimgarg commented on #98
@jobara i mentioned it.

[2020-02-27 13:55] jobara commented on #98
@jhung could you please weigh in on this issue and related PR.

[2020-02-27 13:57] aashimgarg commented on #95
Before -

![Screenshot from 2020-02-27 19-24-12](https://user-images.githubusercontent.com/55639487/75451671-f5154600-5996-11ea-8143-6e42b0097cc6.png)

After -
![Screenshot from 2020-02-27 19-25-12](https://user-images.githubusercontent.com/55639487/75451778-1aa24f80-5997-11ea-8a18-c694e4ebf6b7.png)

@jobara

[2020-02-27 13:59] jobara commented on #95
@aashimgarg I'm not sure what I'm looking for in these images. Could you please describe what the key differences are. This will help when comparing the images, and also provide some information for someone who is not able to perceive the images.

[2020-02-27 14:07] aashimgarg commented on #95
![IMG_20200227_193447](https://user-images.githubusercontent.com/55639487/75452504-6e616880-5998-11ea-89a4-4e8f2f304ba0.png)

As there is no space before and after the footer tag , i have added the space before and after the tag.

[2020-02-27 14:09] aashimgarg commented on #95
![IMG_20200227_193447](https://user-images.githubusercontent.com/55639487/75452504-6e616880-5998-11ea-89a4-4e8f2f304ba0.png)

@jobara as there is no space before and after the footer tag , i have added the space before and after the tag.

[2020-02-27 14:24] aashimgarg commented on #103
@jobara not something much . I just though that images should have aesthetic appeal.

[2020-02-27 14:28] jobara commented on #95
@aashimgarg from what I understand, this was intentional. Maybe @jhung can clarify.

[2020-02-27 14:29] shrenikr235 commented on #76
Hi there, I'm new to the floeproject website and
I think I might have a fix for this using the onscroll event in JavaScript. How do I get started with the contribution process? Thanks

[2020-02-27 15:19] jobara commented on #76
@shrenikr235 you should probably hold off working on this issue at the moment. @aashimgarg has already submitted a PR and I have mentioned that it needs more design considerations before we proceed.

[2020-02-27 15:24] shrenikr235 commented on #76
@jobara Alright,thanks.

[2020-02-27 15:55] aashimgarg commented on #95
ohk @jobara . Take a look at https://github.com/fluid-project/fluidproject.org/issues/15

[2020-02-27 16:07] sachin10101998 commented on #110
@jobara, @jhung, I had a doubt regarding the span of values that different UI options are providing for line spacing. In the [UI Options Demo ](https://build.fluidproject.org/infusion/demos/uiOptions/)and [floe project website](https://floeproject.org/), the line spacing values from 0.7 to 1 cause the list of elements in the table of contents to overlap ( issue described in fluid-project/floeproje

[2020-02-27 16:11] jobara commented on #110
@sachin10101998 it's probably that they are using different versions of UI Options. The newer versions supports a broader range. That doesn't mean we can't/shouldn't adjust the range for this particular site. I suppose it depends on what is reasonable to support on the site while allowing a user to customize the sites to meet their own needs and preferences.

[2020-02-27 16:22] karanb1 commented on #102
I apologise for adding steps in the screenshot. It will not happen again.

[2020-02-27 22:29] sachin10101998 commented on #108
@aashimgarg, please follow the prescribed issue template for submitting issues. Following the template helps to keep track of these issues in the long run when 'obvious things' won't look so evident as the website changes. Not following the requisite template would then make it hard to understand why a particular commit is made in the future. I hope you'd take it as constructive criticism.

[2020-02-28 16:33] aashimgarg commented on #108
@sachin10101998, Thanks for your concern. Don't worry I'll do what's necessary.

[2020-02-29 05:30] shrenikr235 commented on #106
This still occurs at sizes greater than 1.2 for different font sizes. Is it still a valid issue?

[2020-02-29 06:18] Chaitanyassr commented on #106
yes it occurs for 1.1 and greater.

[2020-02-29 15:29] thisispratt opened #114 "Highlighted links on the homepage are getting overlaped. (UI/UX)"
## Decreasing the line spacing (0.7/0.8) is causing the highlighted links on the homepage to overlap.
=>Above mentioned problem is evident in mobile devices as well as desktops.
=>Setting the contrast as yellow even worsens the problem. (class = "fl-theme-by" on body).

### To reproduce
Steps to reproduce the behavior
1. Go to https://floeproject.org
2. Click on show preferences on the top.
3. Cha

[2020-02-29 15:41] sachin10101998 commented on #114
Already reported in #108

[2020-02-29 15:48] sachin10101998 commented on #114
Duplicate of #108

[2020-02-29 16:21] thisispratt commented on #114
haha.. That's not well documented.

[2020-02-29 16:42] sachin10101998 commented on #114
@thisispratt The issue can be solved without all the design changes though. Look at this.
1) Line Spacing: 0.7
![Screenshot from 2020-02-29 22-02-19](https://user-images.githubusercontent.com/34926285/75611363-e6b65e00-5b3f-11ea-9d9b-47013b253d14.png)

2) Line Spacing: 1.3
![Screenshot from 2020-02-29 22-07-01](https://user-images.githubusercontent.com/34926285/75611373-f6ce3d80-5b3f-11ea-98b7-bc3

[2020-02-29 17:15] thisispratt commented on #114
@sachin10101998 how ?

[2020-02-29 17:29] sachin10101998 commented on #114
@thisispratt transform.

[2020-02-29 17:42] sachin10101998 commented on #114
@jhung, @jobara  views?

[2020-02-29 18:26] aashimgarg commented on #114
Duplicate of #108 !

[2020-02-29 19:35] thisispratt commented on #114
@sachin10101998 So you are suggesting to decrease the size via scale property but that wouldn't go by the definition of design for all.
By using the scale property the size of the text will also decrease while the user only intended to decrease the line-spacing.
I don't think that this would be a good design practice.

[2020-02-29 19:49] thisispratt commented on #114
@aashimgarg You didn't document the issue as required by the organization(neither did you gave any explanation about it) even after being asked out by @sachin10101998 you didn't do any changes neither did you propose to solve this issue and now you are talking here and editing your issue (#108 ). Things don't work this way.

[2020-02-29 19:50] sachin10101998 commented on #114
@thisispratt  I am not changing the size of the text with changing line spacing. I fixed the scale of links in one place. Quoting @jobara

![Peek 2020-03-01 01-15](https://user-images.githubusercontent.com/34926285/75614038-491c5800-5b5a-11ea-91b3-087a5ce43167.gif)

[2020-02-29 19:53] sachin10101998 commented on #114
@thisispratt  As far as design is concerned, I enquired about this from @jhung. Quoting his reply from mailing list:

[2020-02-29 19:55] aashimgarg commented on #114
@sachin10101998 i think you added margin properties to this as it clearly shows you have increased the line space!

[2020-02-29 19:57] thisispratt commented on #114
@sachin10101998  You aren't assigned to work on this issue? or are you?

[2020-02-29 20:04] sachin10101998 commented on #114
@aashimgarg, I neither added margin properties nor increased line spacing.
@thisispratt, I am not working on this issue. I just suggested an alternative way of solving it. We can discuss issues and come to the best solution by discussion only.

[2020-02-29 20:06] thisispratt commented on #114
@sachin10101998 Awesome work then, btw have you tested your scaling on multiple mobile devices. Isn't it affecting the font-size?

[2020-02-29 20:25] sachin10101998 commented on #114
@thisispratt , yeah, it's working for all device sizes.
Font-size doesn't look affected because I approximately balanced the font-weight with font-size.
1)

![hhh](https://user-images.githubusercontent.com/34926285/75614462-f2654d00-5b5e-11ea-905a-6449d92cf289.gif)

2) For iPhone 6/7/8

![Screenshot from 2020-03-01 01-53-03](https://user-images.githubusercontent.com/34926285/75614512-89caa000-5b5f

[2020-02-29 20:27] thisispratt commented on #114
@sachin10101998 Nice, I got your point.😂✌

[2020-02-29 20:30] sachin10101998 commented on #114
@thisispratt , you should work on a prototype of your proposed solution too though. It would be easier to compare the different alternatives available. The same goes for @aashimgarg, since he pointed this out first.

[2020-02-29 20:42] thisispratt commented on #114
@sachin10101998 Should I wait for the approval to work on this issue by someone from the community?

[2020-03-01 16:08] Chaitanyassr opened #116 "Image is not alligned properly in mobile."
Image is not alligned properly when viewed in mobile(android device). Image are shifted or align more towards the right side and not the center.
![c2979187-ce2f-4bec-a0ab-808ce88cf66d](https://user-images.githubusercontent.com/30374226/75629193-cd77e500-5c05-11ea-9ca9-4574767a8b77.jpg)

[2020-03-01 18:15] aashimgarg opened #117 "Adding the social media icons in the footer."
## Is your feature request related to a problem?
No this issue is not related to any problem. But by this issue the user can easily come to know more about the floeproject.org and can contribute to it too.
## Describe the solution you'd like
We can add three icons or even more :-
1. Twitter icon :- This will help the user to read the tweets of the the organization.
2. Facebook icon :- This will he

[2020-03-01 18:16] aashimgarg commented on #117
@jhung , @jobara should i work on this?

[2020-03-01 21:01] thisispratt opened #118 "Show preferences panel bar doesn't fit the small screens."
## The show preferences panel doesn't fit with the screen width.
Show preferences panel does not fit the width of the screen on small scale devices(width < 365px).

### To reproduce
Steps to reproduce the behavior:
1. Go to  https://floeproject.org
2. Open Chrome dev tools and click on the toggle device toolbar icon.
3. Scroll and set the width less than 365px and then see the error.

### Expected

[2020-03-01 23:55] sachin10101998 opened #121 "Links overlapping in footer"
## Describe the bug
Links in the footer of website overlap on each other at line spacing values less than 1.

### To reproduce
Steps to reproduce the behavior:
1. Go to www.floeproject.org
2. Scroll down to the bottom of the page.
4. See error

### Expected behavior
Links should not overlap for a better viewing experience.

## Screenshots
![Screenshot from 2020-03-02 05-17-10](https://user-images.

[2020-03-02 02:01] sachin10101998 commented on #106
@Chaitanyassr , it occurs for text size greater than 1.8 for me. I use latest Chrome and Ubuntu 18.04.

[2020-03-02 02:10] sachin10101998 opened #123 ""UI Options" of navigation bar splits into UI and Options in mobile devices."
## Describe the bug
"UI Options" of navigation bar splits into UI and Options in mobile devices making it look like News Options.

### To reproduce
Steps to reproduce the behavior:
1. Go to floeproject.org on iPhone 5/SE
2. See error

## Screenshots
![Screenshot from 2020-03-02 07-08-17](https://user-images.githubusercontent.com/34926285/75639027-ce843300-5c54-11ea-9dd7-2513ea2b741e.png)

### Expe

[2020-03-02 07:07] thisispratt commented on #114
.
.
.

@sachin10101998 So you did🤣. 😒

[2020-03-02 08:33] aashimgarg opened #125 "Implement a nav toggler icon."
## Describe the solution you'd like
As we resize the window to a minimum width the toggle icon will contain all the three navbar options.

This will fix the issue #123 in a more efficient way.

[2020-03-02 11:59] sachin10101998 commented on #114
@thisispratt , I was working on a separate issue. This one got fixed on its own.

[2020-03-02 12:33] sachin10101998 commented on #125
@aashimgarg the goal of #123 was to make sure that the word 'UI' and 'Options' stay together on resizing. When they split, the 'News' link looks like 'News Options'.
Keeping the navbar items in a single line or not is a design problem unrelated to #123

[2020-03-02 12:45] thisispratt commented on #114
@sachin10101998 No problem bro, it can happen with anyone.✌

[2020-03-03 04:01] sachin10101998 commented on #105
@jhung the issue is being caused by the fact that the div containing the figure and the parent div container has different width values which are defined in pixels. the div containing the figure as background had dimensions bigger than the parent container. Fixing the div container classes and using percentage values for width and setting the max-width property will solve all the issues.
Screensho

[2020-03-03 13:20] jobara commented on #116
@Chaitanyassr please make sure to describe the issue in text, so that those who are not able to perceive the image are able to understand the issue.

[2020-03-03 13:22] jobara commented on #117
@aashimgarg, this is a good suggestion for an updated design, but I'm not sure we are at a point where we can decide exactly where and how these should be represented. Do you have suggestions for the design?

[2020-03-03 13:25] aashimgarg commented on #117
@jobara we can add these three icons just at the starting of the footer . I can send this as a pr and then you can see them

[2020-03-03 13:28] jobara commented on #121
This issue has also been filed at https://issues.fluidproject.org/browse/FLOE-579

[2020-03-03 13:30] jobara commented on #121
This issues seems to be related to https://github.com/fluid-project/floeproject.org/issues/108 and https://github.com/fluid-project/floeproject.org/issues/110

[2020-03-03 13:30] jobara commented on #110
this issue seems related to https://github.com/fluid-project/floeproject.org/issues/108

[2020-03-03 13:34] jobara commented on #106
@sachin10101998 and @shrenikr235 are you saying that the issue doesn't appear at smaller sizes for you?

[2020-03-03 13:59] jobara commented on #114
@sachin10101998, @aashimgarg, and @thisispratt, thank you for having a discussion about the issue and talking through different points together. Remember that comments, questions, critiques and etc should always be done in a respectful manner. Working in open source is not about competing for the best solution, but about collaborating together to arrive at it.

It's best to continue a discussion o

[2020-03-03 15:18] jobara commented on #117
@jhung thoughts?

[2020-03-03 16:35] sachin10101998 commented on #106
@jobara , yes.

At text size 1.8:

![Screenshot from 2020-03-03 21-51-32](https://user-images.githubusercontent.com/34926285/75796179-48253980-5d99-11ea-8545-1a85ce6e544c.png)

At text size 1.9:

![Screenshot from 2020-03-03 21-51-44](https://user-images.githubusercontent.com/34926285/75796204-52dfce80-5d99-11ea-8f34-480bfe58afde.png)

[2020-03-03 17:08] sachin10101998 commented on #110
Yes @jobara , both issues can be solved by this:
`.floe-content.floe-story a {
display:inline-block;
}
`

[2020-03-03 17:15] sachin10101998 commented on #121
@jobara, yes, I filed the issue on the issue tracker so as to keep track of it while making commit messages. Having the tag name of the issue helps in linking a particular commit to the description and need of it through the issue tracker.

[2020-03-03 17:25] sachin10101998 commented on #121
@jobara @jhung
Solution to #121(this issue) in #122, solves #108 but not #110.
Solution to #110 can solve #108, but not #121 (this issue).
Solution to #108 as in #122, solves #121(this issue) but not #110.
Hence, even when these issues are similar, they had to be reported separately to maintain order.

[2020-03-03 17:32] sachin10101998 commented on #121
All the above three issues i.e #121, #110, and #108 can be solved simultaneously by adding the following code to `css/style.css` file : <br>
`
div.columns.large-6.small-12 a {
    display: inline-block;
}
`<br>`
.floe-content.floe-story a {
    display: inline-block;
}
`

[2020-03-03 17:32] jobara commented on #106
could everyone please indicate which browsers (including version) and which platform you are testing with.

[2020-03-03 17:41] sachin10101998 commented on #106
I am using the following:
Browser: Chrome
Version: 80.0.3987.122 (Official Build) (64-bit)
OS: Ubuntu 18.04

[2020-03-03 18:05] jobara commented on #121
@sachin10101998 thanks for the explanations. The comments I left above were more house keeping, to link similar issues together for future reference.

However, I'm a bit confused about your previous two comments. It sounds like you are saying the solutions are different in the first comment, but that a single solution can fix all of them, in the latter comment. Or were you trying to specify the di

[2020-03-03 18:25] sachin10101998 commented on #121
@jobara
Let's say we have three issues A, B, and C, and we have two solutions S1 and S2.  S1 is a single line of code and so is S2.
S1 individually can solve B and C simultaneously but doesn't solve A.
S2 individually can solve A and B simultaneously but doesn't solve C.
Both lines of code (S1 and S2) are to be added in the same file (css/style.css).
Adding them together (S1 and S2) can solve A, B

[2020-03-03 19:05] aashimgarg commented on #106
@jobara at text size 1.7

![Screenshot from 2020-03-04 00-33-52](https://user-images.githubusercontent.com/55639487/75810074-df958700-5daf-11ea-8b2f-208a3653f375.png)

Browser: firefox
OS: Ubuntu 18.04

[2020-03-03 21:16] #114 closed

[2020-03-05 23:51] sachin10101998 opened #131 "404 error on network request for tableOFContents-enactor.json (related to infusion)"
## Describe the bug
Console shows 404 for network calls to request data from tableOfContents-enactor.json

### To reproduce
Steps to reproduce the behavior:
1. Go to www.floeproject.org
2. Right Click anywhere and click on Inspect.
3. Go to Console
4. See error

### Expected behavior
The error should be removed.

## Screenshots
![Screenshot from 2020-03-06 05-16-16](https://user-images.githubuserc

[2020-03-06 00:07] sachin10101998 commented on #131
@jobara @jhung
![Screenshot from 2020-03-06 05-35-35](https://user-images.githubusercontent.com/34926285/76037237-6000e700-5f6c-11ea-973a-d88dd26fa343.png)
These lines are causing this error. Removing them fixes it. Is there any special reason as to why this code is present?

[2020-03-06 13:09] jobara commented on #131
@sachin10101998 thanks for filing the issue.

Rather than providing an image of the code, could you please link directly to that bit of code in the repo. It's hard to see what the context is just from the image. It looks like that code is coming from jQuery, which is a 3rd party dependency of Infusion. If that is the case, you definitely do not want to remove that part of the code.

When you see a

[2020-03-06 21:17] madhatter17 commented on #125
Please assign this issue to me. I am working on it and will solve in a day or two.

[2020-03-06 21:19] aashimgarg commented on #125
Already working on it.

[2020-03-06 21:26] madhatter17 commented on #100
Please assign this issue to me. I am working on it and will solve it soon. Thanks.

[2020-03-07 04:07] sachin10101998 commented on #131
@jobara , the file where these lines are present is quite big so GitHub doesn't show it in its default format and provides the full copy in raw form only. Hence, I couldn't link it directly.  It's on the line number 9603 in [infusion-custom.js](https://github.com/fluid-project/floeproject.org/blob/master/lib/infusion/infusion-custom.js) file.

I checked for the requisite file and [it's present the

[2020-03-07 06:54] Chaitanyassr opened #133 "Instead of 2 buttons(expand all and hide all)we can have one single button."
Currently we have 2 different buttons on resources page for show all and hide all. instead of two, we can have one button that will expand every toggle item when state is true and hide the item when state is false in toggleCategory.

We would be changing the name of the buttons as their functionality changes.

page link - https://floeproject.org/resources.html

[2020-03-07 07:08] Chaitanyassr commented on #133
@jhung @jobara  can we have this?

[2020-03-08 05:44] Chaitanyassr opened #134 "Adding smooth collapsed and expand at (https://floeproject.org/resources.html)"
We can have smooth collapsed and expand at resources page for expand all,hide all and all the other buttons.
![Screenshot (173)](https://user-images.githubusercontent.com/30374226/76157368-047e5700-612e-11ea-8670-ef407852b099.png)

[2020-03-08 05:46] Chaitanyassr commented on #134
@jobara @jhung would it be needed? if yes than i would like to work on it.

[2020-03-09 13:02] jobara commented on #134
Could you please explain more about what you mean by smooth collapse and expand?

[2020-03-09 13:27] Chaitanyassr commented on #134
currently clicking on learning to learn button displays the content quickly...instead of this can we make it display smoothly by using transition in css or js(infusion)
here is the eg codepen of what i meant by smooth collapse and expand.
https://codepen.io/moudstar/pen/ZKVLPW

[2020-03-09 13:27] Chaitanyassr commented on #134
currently clicking on learning to learn button displays the content quickly...instead of this can we make it display smoothly by using transition in css or js(infusion)
here is the eg codepen of what i meant by smooth collapse and expand.
https://codepen.io/moudstar/pen/ZKVLPW

[2020-03-09 13:27] Chaitanyassr commented on #134
currently clicking on learning to learn button displays the content quickly...instead of this can we make it display smoothly by using transition in css or js(infusion)
here is the eg codepen of what i meant by smooth collapse and expand.
https://codepen.io/moudstar/pen/ZKVLPW

[2020-03-09 14:32] jobara commented on #134
@Chaitanyassr thanks for providing the example. We'd have to consider the design. However, with the site potentially changing with the proposed GSoC project. This may be something that should be re-evaluated with that process. @jhung thoughts?

[2020-03-10 12:40] #131 closed

[2020-03-11 10:15] Chaitanyassr commented on #134
yes, migration to static site generator right? would be submitting  a proposal for it.

[2020-03-15 14:17] johntharian commented on #95
May I solve this issue ?

[2020-03-16 13:19] jobara commented on #95
@johntharian we're still reviewing/discussing this issue. I don't think it's a good one to work on at this time.

[2020-03-19 05:57] samagragupta opened #147 "Using cursor as pointer in resource page"
When clicked on the resources the cursor should be a pointer.

[2020-03-19 09:12] sachin10101998 commented on #147
Duplicate of #100

[2020-03-19 11:05] akhillllldev opened #150 "Pointer not visible while viewing the website on a Mobile Phone."
## Description
Unable to view the right pointer for the contrast preference while viewing it on Google Chrome on a mobile phone.

So basically you have to drag it towards the left, to see the pointer - and I feel like this needs to be fixed :)

## Screenshots
![20200319_162833](https://user-images.githubusercontent.com/40662846/77060888-52813d80-69ff-11ea-9067-cb9f923e990a.jpg)

[2020-03-19 13:06] jobara commented on #150
@akhillllldev yes, this is because the whole panel is too wide due to all of the options. We need to figure out way to represent the contrast options in a way that works easier on mobile. In the meantime we've decided to leave it as is and require a bit of horizontal scrolling.

[2020-03-21 09:39] krishna0303 commented on #133
I have solved this issue.

[2020-03-23 15:35] vaibhav111tandon opened #152 "Text size of Hide/Show increases and decreases."
## Describe the bug
On increasing the text size from the show preferences button, the size of the text also increases/ decreases in `mobile view`

### To reproduce
Steps to reproduce the behavior:
1. Go to 'mobile website'
2. Click on 'show preferences'
3. Increase the text size
4. See error

### Expected behavior
Ideally it should not happen.

[2020-03-23 16:57] AbdullahiAbdulkabir commented on #117
It a nice idea

[2020-03-23 19:24] jobara commented on #152
@vaibhav111tandon unfortunately I'm not following what the issue is. The customizations are intended to be applied to both the mobile and desktop presentations. Are they not working? Do you feel that it shouldn't be applied in the mobile view? Is it something else that isn't working?

[2020-03-24 08:00] vaibhav111tandon commented on #152
Customization which are applied to the website are changing the view of the preferences tab too...if this is the intended behaviour than this issue can be closed.

[2020-03-24 12:10] jobara commented on #152
@vaibhav111tandon thanks for the clarification. Yes that is the intended behaviour.

[2020-03-24 12:10] #152 closed

[2020-03-24 14:48] shash137 commented on #111
@jobara , @jhung  I want to work on this issue.

[2020-03-24 17:41] sachin10101998 commented on #111
@shash137 the GSoC project is going to change the file structure significantly. It's better to wait for the migration to an SSG before this search feature is touched upon. Different SSGs provide different plugins for search, so implementing a search feature for such a small period is not feasible. This is why I left this issue unattended after suggesting it.

[2020-03-25 00:08] AsaoluElijah opened #153 "Index page not responsive on mobile view"
## Describe the bug
Visiting the index page https://floeproject.org/ on a mobile device is not responsive

### To reproduce
Steps to reproduce the behavior:
1. Go to https://floeproject.org/ on a mobile device
4. See error

## Screenshots
![Screenshot_20200325-005905](https://user-images.githubusercontent.com/34748637/77488186-c9219f00-6e34-11ea-82f4-84dfac55a274.png)

## Technical details

### Sm

[2020-03-25 00:09] AsaoluElijah commented on #153
And also, i'll like to work on this issue

[2020-03-25 11:00] shash137 opened #154 "Add Home link to site navigation"
## Is your feature request related to a problem?
It was getting difficult to switch between the Home page and the other pages of website quickly. Adding the home will make switching easier and landing page will look good.

Below is the screenshot of the current website.
![ss2](https://user-images.githubusercontent.com/44723604/77529290-56a4d380-6eb5-11ea-9ea7-4bb6117dbaaf.PNG)

## How you will res

[2020-03-25 12:27] jobara commented on #153
It appears that the issue isn't that the page isn't responsive, it's that there may be some bugs with the responsive styling. Please describe in detail what issues you are seeing. The screenshot shows only a small portion of the page and for those that cannot perceive the image there is no information about what the issue is. In fact I'm not sure from the image if the issue is only with the "show

[2020-03-25 18:07] AsaoluElijah commented on #153
Yeah, the issue is not only with the "show preferences" not expanding to the full width of the screen.
I'd noticed the page is non-responsive because of the **width** of the images on this page.
More screenshots below:
![Screenshot_20200325-190102](https://user-images.githubusercontent.com/34748637/77570154-9b3b6980-6ecb-11ea-9773-524a832daf53.png)
![Screenshot_20200325-190110](https://user-images

[2020-03-26 11:52] jobara commented on #153
The entire issue may be caused by the images forcing the width of the page to be too wide.

[2020-03-26 21:14] AsaoluElijah commented on #153
Exactly :+1:
Thanks jobora, i'll submit a PR fixing this with css media query.

[2020-03-27 07:44] thisispratt commented on #153
Duplicate of #118

[2020-03-28 15:52] rishabh1507 commented on #118
Hi I have fixed this issue #118  will send a request for it

[2020-03-28 16:23] rishabh1507 commented on #116
@jobara @jhung  It is a minor problem that exists in  small devices view .
It occurs because of horizontal scrolling  it can fixed by removing horizonal shifiting while in small screen view

[2020-03-28 16:38] rishabh1507 opened #159 "Index Html margins are off on the left and right"
## Is your feature request related to a problem?
the page cannot fully cover the canvas  the regular margins makes it a little off
## Describe the solution you'd like
The design of this page can be improved if it covers the full page
I see that it is a design of the page but it can be improved if we stretch across the full canvas

##This is just my suggestion  i just want to utilize this blank spa

[2020-04-01 11:22] Chaitanyassr commented on #159
Can you please provide more details for this issue. Which page are you referring to ?

[2020-04-02 06:29] Ayush23Dash commented on #159
@rishabh1507 I believe this is similar to the issue <a href="https://github.com/fluid-project/floeproject.org/issues/118">#118</a>.

[2020-04-02 15:50] rishabh1507 commented on #159
@Ayush23Dash no not the same

[2020-04-02 15:51] rishabh1507 commented on #159
@Chaitanyassr  On right side there is a space on which you can have socialmedia-buttons

[2020-04-02 17:13] shash137 commented on #154
#155

[2020-04-03 12:00] shash137 commented on #154
@jhung, @jobara @colinbdclark I've completed the task and pr is also open, please review it. #155

[2020-04-15 07:19] Chaitanyassr commented on #159
On which page ? Please provide the details as sometimes image don't load.

[2020-04-15 07:44] sachin10101998 commented on #159
@rishabh1507 you are proposing a design change which should be discussed with thr community first. Moreover, fluid project is not present on lots of social media platforms either.
Moreover full page is not covered because of explicit sizes of images present on those pages. Changing the max width property solves this issue. A PR for same is already pending.

[2020-04-15 12:12] AsaoluElijah commented on #154
Brilliant idea 👌

[2020-04-27 15:56] Chaitanyassr opened #162 "Space should be reduced between "flexible learning for open" and "education""
## Describe the bug
Space should be reduced between "flexible learning for open" and "education" as they are the part of the same heading or line.

## Screenshots
![Screenshot (254)](https://user-images.githubusercontent.com/30374226/80393031-905e6500-88cd-11ea-88e6-f17a1ccfeda0.png)

[2020-04-27 16:36] Ayush23Dash commented on #162
@Chaitanyassr I think you have increased the font size above 1.2. I am saying this because it is inline till font size=1.2.
Moreover if we go above font size> 1.5 then the ul list of News, Resources. UI Options also gets disoriented.

[2020-04-27 16:39] sachin10101998 commented on #162
The default preview with default presets in the preferences box doesn't push the 'education' word to the next line.
![Screenshot from 2020-04-27 22-08-14](https://user-images.githubusercontent.com/34926285/80397485-d0284b00-88d3-11ea-8a48-4e00779dbb6a.png)

[2020-04-27 17:04] #162 closed

[2020-06-01 17:47] gtirloni opened #164 "Add analytics tracking code"
Add the following code to the <head></head> section:

[code]

[2020-06-21 14:15] ShivamSharma-Nsut opened #167 "Nav Bar should be more clear about pages it serves."
-> When user click on the any of the NavBar component then that component should be highlighted from rest of the components, for better user experience.
![Screenshot (72)](https://user-images.githubusercontent.com/55797473/85226924-9f5a2300-b3f7-11ea-970f-726f84bffc40.png)
![Screenshot (69)_LI](https://user-images.githubusercontent.com/55797473/85226928-a2edaa00-b3f7-11ea-82b3-a335bc0ebca9.jpg)

[2020-07-17 14:55] jhung opened #170 "Merge changes from Master into 11ty static site PR #163"
## Is your feature request related to a problem?

The Floe Project master branch has changed since the PR was created and some of the content has changed.

See #169 (https://github.com/fluid-project/floeproject.org/pull/169/files) for all the changes.

## Describe the solution you'd like

The following changes need to be merged into the 11ty Pull Request (#163 )

* Add news Posts:
   * news/2020-0

[2020-07-17 14:56] jhung commented on #170
@sachin10101998 Thanks!

[2020-07-17 17:34] sachin10101998 commented on #170
@jhung @BlueSlug @jobara  I have pushed the required changes in the 11ty PR. you can close this issue.

[2020-07-26 14:26] Creatoon commented on #117
hello sir , I want to work on this part , should i work?

[2020-08-01 17:12] himanshujaidka opened #172 "There should be gap between footer and block"
## Describe the bug
A clear and concise description of what the bug is.

### To reproduce
Steps to reproduce the behavior:
1. Go to 'https://floeproject.org/'
2. Click on '....'
3. Scroll down to 'footer'
4. See error

### Expected behavior
A clear and concise description of what you expected to happen.
There should be a gap between the footer bar and block
## Screenshots
If applicable, add screen

[2020-08-01 17:32] himanshujaidka commented on #172
see pr #173

[2020-08-05 20:06] himanshujaidka commented on #172
@jobara see pr #173

[2020-08-07 08:13] #117 closed

[2020-08-07 09:12] Raunaksingh100 opened #174 "need hyphens in elments of UI OPTIONS in Mobile view"
## Describe the bug
the UI OPTIONS need hyphens in mobile view to identify that this is one single word not the two words ,,,,,,,
like ui and options is not a twoword  so add a hyphen in it to identify that this is single word not a two words plz see in the screenshot giiven below for the better understanding.....................

### To reproduce
Steps to reproduce the behavior:
1. Go to 'http://

[2020-08-07 09:20] Raunaksingh100 commented on #174
i already fixed this issue and create a pr for this
thanks...........

[2020-08-07 14:44] colinbdclark commented on #174
The name "UI Options" is two words, and should not be hyphenated.

[2020-08-07 14:44] #174 closed

[2020-08-07 15:45] Raunaksingh100 commented on #174
But need hypens in it because It split into 2 parts ui then options plz see

[2020-08-07 16:01] colinbdclark commented on #174
Thanks, but we don't need hyphens here.

[2020-08-10 13:23] Raunaksingh100 opened #176 "images aligned to right in mobile view"
## Describe the bug
the all images are aligned to right not in center in the mobile view

### To reproduce
Steps to reproduce the behavior:
1. Go to 'https://floeproject.org/'
2. Scroll down to '....'
3. See error

### Expected behavior
image must be aligned in centre not to right

## Screenshots
![1img](https://user-images.githubusercontent.com/65535360/89787113-96094f00-db3a-11ea-9d1f-fc81c20111

[2020-08-10 13:23] Raunaksingh100 commented on #176
### i am working on this issue ,,,,
thanks............

[2020-08-10 13:50] colinbdclark commented on #176
Hi @Raunaksingh100, thanks for filing this issue. We're in the midst of redesigning portions of the FLOE Website and migrating it to a static site generator, so now isn't a good time to be making styling changes to the existing site.

Also, I can't reproduce this issue on my on own device, so it seems likely that that further details about the environment are required. I noticed you didn't fill ou

[2020-08-10 13:50] #176 closed

[2020-08-10 13:52] Raunaksingh100 commented on #176
can you view my pr #176 i really fixed this issue

[2020-08-10 13:55] colinbdclark commented on #176
Hi @Raunaksingh100, please read my comments above. We can revisit this when the new site is launched.

[2020-08-11 16:50] Raunaksingh100 opened #178 "text and the images overlapping in desktop"
## Describe the bug
when we decrease the text -sixe to 0.5 THE TEXT AND THE images are  overlapping with each other in the deskto as well as the mobile view

### To reproduce
Steps to reproduce the behavior:
1. Go to 'https://floeproject.org/'
2. do text- size to '0.5'
3. See error

### Expected behavior
images and the text  is not responsive overlaping with each other

## Screenshot in desktop
![

[2020-08-13 16:35] Shikhar15606 commented on #147
Working On the Issue

[2020-08-18 15:01] jhung opened #181 "Auto-generate the recent news list on the front page"
## Is your feature request related to a problem?

The recent / highlighted news on the front page is currently manually updated, creating a maintenance burden.

## Describe the solution you'd like

The news item on the front page should be auto-generated from a collection. Depends on #163 being merged.

[2020-08-18 15:10] jhung opened #182 "Migrate Floeproject.org to a static site generator (Eleventy)"
## Is your feature request related to a problem?
Floeproject.org should use a new static site generator like Eleventy, instead of hard-coded HTML files.

## Describe the solution you'd like
Use a modern, supported static site generator like Eleventy to help rendering Floeproject

[2020-08-18 15:22] jhung opened #183 "Update the Floeproject site to the updated design"
The Floeproject site should be updated to include the new design elements as seen in the attached mock-up.

## Waiting on design
- [x] REVIEW Dev site
- [x] feedback to Dev team
- [x] REVIEW High Contrast styling and other UIO settings
- [x] feedback to Dev team
- [x] focus / hover states
- [x] Desktop design page
- [x] home page design (require direction on content)
- [x] resources page
- [x] pro

[2020-08-18 15:26] jhung commented on #95
Closing. Duplicate of #172 .

[2020-08-18 15:26] #95 closed

[2020-08-18 15:28] jhung commented on #167
Thank you for your comment. If I understand correctly what you are reporting is the lack of visual difference for an item that is "currently viewed".

I have added this as a task for upcoming design changes.

[2020-08-18 17:18] jhung opened #184 "Migrate from Foundation to custom CSS and components"
## Is your feature request related to a problem?
The current version of Foundation used for the Floeproject site is old and does not accommodate flexible layouts well (for example see #178).

## Describe the solution you'd like
As part of the work for #183, migrate from Foundation to custom CSS. Perhaps consider using [Pinecone](https://github.com/platform-coop-toolkit/pinecone).

[2020-08-18 17:24] jhung commented on #159
I have put this on the list of things to examine during the new design implementation. Thanks for the feedback.

[2020-08-18 17:26] jhung commented on #154
Thank you for the feedback. I have put this on the list of items to review during the new design implementation.

[2020-08-18 17:28] jhung commented on #153
Closing this issue. It will be addressed with #184 .

[2020-08-18 17:28] #153 closed

[2020-08-19 05:12] Creatoon commented on #178
@jhung @jobara  is this issue taken or can i work on this.

please guide me to reach that bug

[2020-08-19 05:14] Raunaksingh100 commented on #178
i already create a pr for this @Creatoon  plz find other issues

[2020-08-19 05:29] Creatoon commented on #178
OK OK no problem 😀

On Wed, Aug 19, 2020, 10:44 AM raunak singh <notifications@github.com>
wrote:

[2020-08-19 07:11] ShivamSharma-Nsut commented on #167
@jhung So, what type of design you want for the nav bar to close this issue.

[2020-08-25 17:54] Amulya-coder commented on #118
Hi! I want to fix this issue #118

[2020-08-25 18:27] Amulya-coder commented on #123
I want to work on this issue #123

[2020-08-26 10:00] Amulya-coder commented on #76
@jobara Can I work on this issue #76. I am new to the floeproject  I am fixing this issue and add some new design considerations.

[2020-08-26 17:42] #170 closed

[2020-08-26 17:42] #182 closed

[2020-08-26 18:46] #123 closed

[2020-08-26 18:47] sachin10101998 commented on #123
Will be covered while making design changes to the site hence closing the issue.

[2020-08-27 19:15] jhung commented on #164
Merged with #163

[2020-08-27 19:15] #164 closed

[2020-08-28 13:45] Amulya-coder commented on #147
Hi I want to work on this issue #179

[2020-08-31 15:48] jobara commented on #76
@Amulya-coder the site is being redesigned. At would be better to hold off on these types of changes and wait to see what the redesign will include.

[2020-09-03 07:40] #178 closed

[2020-09-03 07:40] cggvuhh opened #187 "Bug: Text overlapping to the image"
## Describe the bug
when we decrease the text -sixe to 0.5 THE TEXT AND THE images are  overlapping with each other in the deskto as well as the mobile view

### To reproduce
Steps to reproduce the behavior:
1. Go to 'https://floeproject.org/'
2. do text- size to '0.5'
3. See error

### Expected behavior
images and the text  is not responsive overlaping with each other

## Screenshot in desktop
![

[2020-09-03 08:48] Raunaksingh100 opened #189 "Text and images is overlapping to each other when we reduced text-size"
## Describe the bug
when we decrease the text -sixe to 0.5 THE TEXT AND THE images are  overlapping with each other in the desktop,,
Due to the image because image is not responsive .
See in the screenshot which is given below for the better understanding,,
@colinbdclark i made this issue  after the FLOE Website migrated into the static site generator.

### To reproduce
Steps to reproduce the beha

[2020-09-03 08:51] #187 closed

[2020-09-23 11:59] #94 closed

[2020-09-23 12:03] greatislander commented on #98
I'm closing this as we are currently beginning a redesign process which will look at this among other improvements. Thanks for your suggestion!

[2020-09-23 12:03] #98 closed

[2020-09-23 12:04] #147 closed

[2020-09-23 12:06] greatislander commented on #100
Hi, after some consideration we're going to close this issue as the expected cursor for buttons is an arrow. Thanks for the suggestion!

[2020-09-23 12:06] #100 closed

[2020-09-23 12:07] greatislander commented on #102
Thanks for this report, however this behaviour is expected and we won't be changing it.

[2020-09-23 12:07] #102 closed

[2020-09-23 12:09] greatislander commented on #103
Thanks for the suggestion, but as per @jobara's comment, we won't be making this change.

[2020-09-23 12:09] #103 closed

[2020-09-23 12:10] greatislander commented on #105
I'm closing this as we are currently beginning a redesign process which will address this among other improvements. Thanks for reporting it!

[2020-09-23 12:10] #105 closed

[2020-09-23 12:11] greatislander commented on #106
I'm closing this as we are currently beginning a redesign process which will address this issue alongside other improvements. Thanks for reporting it!

[2020-09-23 12:11] #106 closed

[2020-09-23 12:11] greatislander commented on #107
I'm closing this as we are currently beginning a redesign process which will address this issue along with other improvements. Thanks for reporting it!

[2020-09-23 12:11] #107 closed

[2020-09-23 12:12] greatislander commented on #108
I'm closing this as we are currently beginning a redesign process which will address this among other improvements. Thanks for reporting it!

[2020-09-23 12:12] #108 closed

[2020-09-23 12:13] greatislander commented on #121
Hi @sachin10101998, thanks for documenting this. We will address it in the forthcoming redesign.

[2020-09-23 12:14] greatislander commented on #109
I'm going to close this as it's been captured in [FLUID-6458](https://issues.fluidproject.org/browse/FLUID-6458) and would need to be addressed in https://github.com/fluid-project/infusion.

[2020-09-23 12:14] #109 closed

[2020-09-23 12:15] greatislander commented on #110
@sachin10101998 We will look at this in the redesign— thanks for reporting!

[2020-09-23 12:15] #110 closed

[2020-09-23 12:18] greatislander commented on #111
Thanks @sachin10101998 — this is a good candidate for inclusion in the redesign. We've also implemented a Vue-based search of a local JSON index in https://github.com/inclusive-design/wecount.inclusivedesign.ca/pull/223.

[2020-09-23 12:19] greatislander commented on #116
I'm closing this as we are currently beginning a redesign process which will address this among other improvements. Thanks for reporting it!

[2020-09-23 12:19] #116 closed

[2020-09-23 12:19] greatislander commented on #118
I'm closing this as we are currently beginning a redesign process which will address this among other improvements. Thanks for reporting it!

[2020-09-23 12:19] greatislander commented on #125
I'm closing this as we are currently beginning a redesign process which will address this among other improvements. Thanks for reporting it!

[2020-09-23 12:19] #125 closed

[2020-09-23 12:20] greatislander commented on #133
I'm closing this as we are currently beginning a redesign process which will consider this among other improvements. Thanks for reporting it.

[2020-09-23 12:20] #133 closed

[2020-09-23 12:20] greatislander commented on #134
I'm closing this as we are currently beginning a redesign process which will explore this alongside other improvements. Thanks for reporting it!

[2020-09-23 12:20] #134 closed

[2020-09-23 12:20] #150 closed

[2020-09-23 12:27] #172 closed

[2020-09-23 12:28] greatislander commented on #189
Hi @Raunaksingh100, I'm closing this as we are currently beginning a redesign process which will address this among other improvements. Thanks for reporting it.

[2020-09-23 12:28] #189 closed

[2020-09-23 12:48] greatislander commented on #184
See also: https://issues.fluidproject.org/browse/FLOE-168

[2020-09-23 12:58] greatislander opened #191 "Update UI Options page"
## Is your feature request related to a problem?

Expand on the information provided in the [UI Options](https://floeproject.org/ui-options.html) page of the Floe Website.

## Describe the solution you'd like

Some suggestions:
- first paragraph for non developer
- next paragraph for developer

Say something about UIO not being the start for web accessibility, it’s maybe the second step after havi

[2020-09-23 13:01] greatislander opened #192 "Ensure that all HTML passes validation in redesign"
## Describe the bug

Some HTML does not pass validation.

### To reproduce

N/A.

### Expected behavior

All generated HTML passes validation.

## Additional context or notes

Replaces [FLOE-166](https://issues.fluidproject.org/browse/FLOE-166).

[2020-09-23 13:03] greatislander opened #193 "Incorporate suggested content changes"
## Is your feature request related to a problem?

Jutta suggested some content changes: https://lists.idrc.ocad.ca/pipermail/fluid-work/2014-April/009363.html

## Describe the solution you'd like

These should be incorporated if still relevant.

## Describe alternative solutions you've considered

Not applicable.

## Additional context or notes

Replaces [FLOE-185](https://issues.fluidproject.org/

[2020-09-23 13:19] aastha0507 opened #195 "Some content changes needed"
## Spelling Mistakes
Some spelling mistakes and also some mistakes in using uppercase and lowercase letters are there in some files.

[2020-09-23 13:28] #195 closed

[2020-09-23 14:25] greatislander commented on #183
Figma link for reference: https://www.figma.com/file/IFmNnTA84WlQw0noNwsDek/FLOE-website

[2020-09-24 17:57] #181 closed

[2020-09-25 10:55] sachin10101998 commented on #111
@greatislander do you plan to create a replica of the Vue based search for Floe too? Given the volume of material to be searched, a lighter search engine could be in place.

[2020-09-25 12:26] greatislander commented on #111
@sachin10101998 Looking at `lunr`, it seems like it would be a good enhancement for the search on the We Count site too. Thanks! I was just linking to the solution the We Count team had used for reference but lunr seems better.

[2020-10-26 13:36] jobara opened #202 "Update references pointing at the "master" branch to now point at "main""
## Describe the bug

Now that we've updated the default branch name to "main" from "master" we need to update CI and other references to point at "main" instead.

### Expected behavior

CI should run on pushes and PRs to the "main" branch. Other references to master should be replaced to main as needed.

[2020-10-27 14:13] #202 closed

[2020-11-01 23:55] gtirloni opened #204 "netlify-plugin-checklinks errors"
## Describe the bug

Netlify's check-links plugin is complaining about these errors:

[code]

## Screenshots
https://app.netlify.com/sites/fluid-floeproject-org/deploys/5f9f4968b2565a8fe4d7afb1

[2020-11-03 20:01] #204 closed

[2020-11-27 05:16] Creatoon commented on #192
can i work on this?

[2020-12-06 03:08] kshitij86 commented on #111
@sachin10101998 @greatislander Now as the GSoC 2020 phase is over, can I work on this as it's still open and the designs must have been incorporated?

[2020-12-06 03:10] kshitij86 commented on #154
@jhung @greatislander Has this been added in the site yet? I would like to work on adding this if it hasn't been added yet.

[2020-12-07 13:12] greatislander commented on #154
@kshitij86 Thanks for your interest—the new design work is still in progress so we aren't looking for work on this yet.

[2020-12-07 13:12] greatislander commented on #192
@Creatoon thanks for your interest. Our team will be addressing this as part of a larger redesign project.

[2020-12-07 13:13] greatislander commented on #111
@kshitij86 The designs have not been completed yet, so we'll be exploring this once that process is done.

[2021-02-20 18:42] patelaryan7751 commented on #193
can i work on this issue?

[2021-02-20 18:47] colinbdclark commented on #193
Hi @patelaryan7751, I don't think this is a particularly good first issue for someone who is new to our community, since it involves a lot of background knowledge of the project and our goals. Also, in case you're interested in Google Summer of Code, please note that we will not be participating in the program this year.

[2021-02-20 19:03] patelaryan7751 commented on #193
@colinbdclark okay !

[2021-03-04 14:44] aryanag1971 commented on #184
can I work on this issue?

[2021-03-04 14:49] greatislander commented on #184
@aryanag1971 As this project will involve our team working internally to develop a new design and design system for this website, it's not really one that can easily integrate open source contributions. Also, for your information, if your interest in contributing is related to GSOC, we will not be participating in GSOC this year.

[2021-07-15 14:49] jobara opened #225 "Update site with current work"
Update the site content to include the latest work from the past year.

- Add news article for noteworthy events
- Update front page with references to the [Community-Led Co-design Kit](https://co-design.inclusivedesign.ca) and [Inverted Wordle](https://wecount.inclusivedesign.ca/views/inverted-wordles/)

[2021-07-15 14:52] jessmitchell commented on #225
of the links added to the Floe news site, I think these two should be elevated to the front page as reusable resources for FLOE

[2021-07-22 12:26] #225 closed

[2021-08-09 17:28] jhung commented on #183
@greatislander: @jobara and I are picking this task up. I was looking at the wireframe and noticed that the "Latest News" cards is a new feature. Do you know of an example of how posts with optional thumbnails would be handled elegantly in 11ty?

[2021-08-09 17:42] greatislander commented on #183
[Here's a good example](https://github.com/inclusive-design/wecount.inclusivedesign.ca/blob/dev/src/_includes/components/grid-item.njk) of how this was done for We Count (using [Nunjucks](https://mozilla.github.io/nunjucks/) as the template language).

[code]

In this instance there's a fallback SVG image which is used if a given post item doesn't have a thumbnail picture in its data object.

[2021-08-10 11:50] jobara commented on #191
@jhung and @greatislander, can this issue be closed with the current changes to the UI Options page. For example those made by in https://github.com/fluid-project/floeproject.org/commit/a56b4a0e69c4fc0e58af6ce15f682ea661488fed

[2021-08-10 12:03] greatislander commented on #191
@jobara If the recent changes fulfill the needs you identified in https://issues.fluidproject.org/browse/FLOE-583 then sure!

[2021-08-10 17:25] jhung commented on #191
I'm fine with how the content is currently. This issue can be closed.

[2021-08-10 17:25] #191 closed

[2021-09-08 17:07] jobara opened #228 "Add news article for Infusion 3.0 release"
Add a news article to announce the [Infusion 3.0](https://github.com/fluid-project/infusion/releases/tag/v3.0.0) release.

[2021-09-08 17:55] #228 closed

[2021-10-18 20:41] jobara opened #231 "Menu for mobile presentation"
## Is your feature request related to a problem?

Currently the main navigation is the same in desktop and mobile presentation. However, it would be nice to have a mobile friendly menu for smaller screen sizes.

## Describe the solution you'd like

Menu for site navigation, probably a hamburger or similar menu.

[2021-11-02 13:08] jobara opened #233 "Integrate with Netlify CMS"
## Is your feature request related to a problem?

To make authoring News posts and updating other content easier, we should integrate with a CMS such as Netlify CMS.

## Additional context or notes

See [fluid-work matrix channel discussion](https://matrix.to/#/!mDigWuPWilYGiEcOCA:matrix.org/$lZ0njs2gy85jeXeIq-a2z45tp_j03esLkgd6beQ5QH0?via=matrix.org) from Nov 2, 2021.

[2021-11-22 19:38] jhung opened #234 "Update website copy with new project descriptions"
Update the Floe website with updated project descriptions. This includes:
- C2LC
- Inverted Wordles
- Pluralistic Data Infrastructure
- etc.

[2021-12-03 02:43] carenwatkins commented on #183
SVG of FLOE logo for website can be found on NextCloud: https://files.inclusivedesign.ca/s/ktBow575BNP3pTX #183

[2021-12-06 22:08] jobara opened #236 "site redesign 2021: Footer"

[2021-12-09 13:26] jobara commented on #236
Addressed in https://github.com/fluid-project/floeproject.org/pull/232

[2021-12-09 13:26] #236 closed

[2021-12-15 17:10] jhung opened #237 "See more content link on home page wraps too early on Chrome Android"
## Describe the bug
On Chrome on Android 12, the "Other news items" and "See more projects" links wrap onto two lines even though there is sufficient space to display the link on a single line.

### To reproduce
Steps to reproduce the behavior:
1. On Android 12 using Chrome, go to the Index page
2. Scroll down to the "Other news items" and "See more projects" links
3. Notice how the links appear o

[2021-12-15 17:17] jhung commented on #234
Depends on #232 .

[2021-12-15 17:39] jhung opened #238 "Resources page exhibits odd layout behaviour with large UIO text size"
## Describe the bug
The Resources page does not lay out well with UIO text size of 2.0 across different browsers and devices.
- title does not wrap at edge of the screen
- resources accordion sections has odd sizing (Windows Firefox - see screenshot below)
- Multimodal Presentaiton accordion appears larger than the rest and has mismatching focus styling (see screenshot below)

Improper content wra

[2021-12-15 17:43] jhung commented on #92
This content has been removed in the new design update.

[2021-12-15 19:34] jhung opened #239 "Create thumbnail project images for Projects section"
## Is your feature request related to a problem?
The Projects section on the Floe site can use some imagery to help break up the text and add some breathing space in content.

## Describe the solution you'd like
Add thumbnail images in NextCloud (https://files.inclusivedesign.ca/s/FeqqWiMLFkCyQLA) for:

- [x] - Community-Led Co-design Kit
- [x] - ILDH
- [x] - We Count
- [x] - Design Guide
- [x] -

[2021-12-15 20:45] jhung opened #240 "Consider moving UIO Table of Contents to before"
The UIO Table of contents should appear before the title in the main content area.

Currently the ToC appears after the title.

Depends on #232 .

[2021-12-15 20:54] jhung opened #241 "Rearrange index / home page structure so Fleur is better positioned with the text"
## Is your feature request related to a problem?
Currently the Fleur on the home page is positioned adjacent to the paragraph text and positioned absolutely using a negative margin to position next to the site header.

This solution can be a bit fragile, especially when resizing for smaller client screens (the text can overlap with the Fleur graphic).

## Describe the solution you'd like

Change t

[2021-12-15 20:56] jhung opened #242 "Clean up CSS for Phase 2"
## Is your feature request related to a problem?
In the push to have the first release, the app.css file is a bit messy.

## Describe the solution you'd like
Clean-up should be done on the CSS file, and consider using a pre-processor if needed.

[2021-12-15 21:03] jhung opened #243 "Convert standard single and double quotes to open / close quotes"
## Is your feature request related to a problem?
In much of the content, quotes are straight quotes which can be hard to parse.

## Describe the solution you'd like
Convert all single and double quotes to open and close (aka curling left and right) quotes.

## Additional context or notes
See this page for the HTML codes for curling open and close quotes:
https://www.w3schools.com/CSSref/pr_gen_quo

[2021-12-15 21:25] jhung opened #244 "Consider using different text weight or emphasis to make large amounts of text more readible"
## Is your feature request related to a problem?
When there is a lot of text on the page, it becomes hard to read.

For example: https://deploy-preview-232--fluid-floeproject-org.netlify.app/news/2021-10-12-co-design-toolkit-updates/

## Describe the solution you'd like

Consider different paragraph spacing, and different text weight or emphasis (especially names of people, organizations, products

[2021-12-15 21:56] jhung opened #245 "Resource description is visually indistinguishable from a resource"
## Is your feature request related to a problem?

Each Resource section has a short description. This description is visually the same as the text used for resources, making it hard to distinguish from the resource content.

![image](https://user-images.githubusercontent.com/564762/146270893-9725e8f0-c352-420d-a4be-7f0e6876fa04.png)

## Describe the solution you'd like

Make the description text v

[2021-12-16 12:19] jobara commented on #242
The approach taken in other sites, such as the [IDRC site](https://github.com/inclusive-design/idrc), is to use Sass and organize it based on the [7-1 pattern](https://sass-guidelin.es/#the-7-1-pattern). We had also hoped to model the style after [Cube CSS](https://cube.fyi), but that might have gotten away from us, so it would be worth reviewing this as things are moved around.

[2021-12-16 12:23] jobara commented on #240
The usage of the ToC should be reviewed. On many pages it doesn't add much value as there is only the page header displayed. It may be more useful on long news articles.

Some potential options:

- Remove the ToC completely from the instance of UIO on the site
- Only show the ToC on news articles and other pages that may make good use of it
- Create and implement a design that better integrates th

[2021-12-16 12:56] jobara commented on #239
Should look at the IDRC site for an example of how images are added to the ideas page.
https://github.com/inclusive-design/idrc/blob/79142139ffd069b8f8107a4fda3bd5242659e49d/src/_includes/layouts/ideas.njk#L20-L23

It uses a plugin to resize and generate new images from the supplied images.

[2021-12-16 14:24] jobara commented on #243
This can be mostly done by adding the following to the .eleventy.js file.

[code]

This makes uses of the [typegrapher setting from markdown-it](https://github.com/markdown-it/markdown-it#init-with-presets-and-options).

However, things that aren't processed by markdown won't be updated. Most notably this is in the excerpts used for the news articles.

When 11ty 1.0 is released it will come with a

[2021-12-16 19:47] #183 closed

[2021-12-16 19:57] #92 closed

[2021-12-16 19:58] jhung commented on #118
Fixed in #232

[2021-12-16 19:58] #118 closed

[2021-12-16 19:59] jhung commented on #121
Fixed in #232.

[2021-12-16 19:59] #121 closed

[2021-12-16 20:01] jhung commented on #154
Adding Home to the site navigation is not something we will be doing. Part of the reason is that there are multiple methods to returning Home including the Logo and the breadcrumb.

[2021-12-16 20:01] #154 closed

[2021-12-16 20:01] jhung commented on #159
Fixed in #232

[2021-12-16 20:01] #159 closed

[2021-12-16 20:02] jhung commented on #231
Fixed in #232

[2021-12-16 20:02] #231 closed

[2021-12-16 20:02] jhung commented on #184
Fixed in #232

[2021-12-16 20:02] #184 closed

[2021-12-16 20:02] jhung commented on #234
Fixed in #232

[2021-12-16 20:02] #234 closed

[2021-12-16 20:03] jhung commented on #192
Fixed in #232

[2021-12-16 20:03] #192 closed

[2021-12-16 20:04] jhung commented on #193
Addressed in #232

[2021-12-16 20:04] #193 closed

[2021-12-16 20:04] jhung commented on #167
Addressed in #232

[2021-12-16 20:04] #167 closed

[2021-12-16 20:10] jhung opened #247 "The ">" character in ::after pseudo element is read back by mobile screen readers"
## Describe the bug
On pages with pagination or the Projects and News "More" links on the home page, the ">" character is read back by TalkBack on Android and VoiceOver on iOS.

### To reproduce
Steps to reproduce the behavior:
1. Open https://floeproject.org on Android or iOS
2. Turn on the device's screen reader
3. Navigate to the "Other news items" link and keep swiping (i.e. keep reading back

[2021-12-16 20:14] jhung opened #248 "VoiceOver on iOS announces the word "FLOE" as a landmark"
## Describe the bug
In VoiceOver on iOS the `<strong>FLOE</strong>` in the footer gets announced as a landmark. This may not be the desired behaviour.

### To reproduce
Steps to reproduce the behavior:
1. Go to https://floeproject.org on iOS
2. Turn on VoiceOver
3. Scroll down to the Footer
4. Notice that "FLOE" gets announced as a landmark

### Expected behavior

Not sure what the expected behavi

[2021-12-16 20:17] jhung opened #249 "Consider preserving user's state in the Resources page when following a link and coming back"
## Is your feature request related to a problem?
When a user follows a link in the Resources page, it may be good to have the state of the page saved when they return to make it easier for them to pick up where they left off.

## Describe the solution you'd like
When navigating away from the Resources page, returning to the Resources page will have any open and closed sections preserved.

[2021-12-18 05:31] BlueSlug opened #250 "Do we want to implement a Masonry layout?"
Initial explorations for the design of the site for version `2.0.0` included an arrangement of the cards/tiles of the News and Projects page in a "masonry" layout. Is this still something we wish to implement?

Here is an article on Smashing Magazine outlining how it works:
https://www.smashingmagazine.com/native-css-masonry-layout-css-grid/

We may also want to wait for the `masonry-auto-flow` pr

[2021-12-18 05:37] BlueSlug opened #251 "Should we formalize our browser support list?"
In the interest of clearly establishing which browsers we support, should we formalize this in some way?

For example, adding it to the Readme as a brief list, or perhaps as [a link to the query on browserslist](https://browserslist.dev/?q=ZGVmYXVsdHMsIG5vdCBJRSAxMSwgbm90IE9wZXJhTWluaSBhbGw%3D)

[2021-12-20 22:55] BlueSlug opened #252 "UIO slow to load compared to other sites"
## Describe the bug
The UIO preferences panel takes some time to load after clicking "Show preferences". This is especially noticeable on mobile devices (on the order of a second or two), and the same delay is not observed on the [IDRC site](https://idrc.ocadu.ca/), in contrast.

If load times cannot be decreased, perhaps a progress indicator would be helpful to show that the user input has been r

[2021-12-20 23:14] BlueSlug opened #253 "IDRC site link is off-grid in iOS with UIO prefs enabled"
## Describe the bug
The link to the [IDRC website](https://idrc.ocadu.ca/) in the header ("An Inclusive Design Research Centre project") is off-grid in iOS when certain UIO preferences are set.

### To reproduce
Steps to reproduce the behavior:
1. Click on "+ show preferences"
2. Set "text size" to `0.5` and "enhance inputs" to `on`
3. See error

### Expected behavior
This text and link should rem

[2021-12-21 00:15] BlueSlug opened #254 "Resources arrow icon clipping at small text sizes"
## Describe the bug
Resources heading/accordion arrow icons clipping at smaller text sizes

### To reproduce
Steps to reproduce the behavior:
1. Go to https://floeproject.org/resources/
2. Click on "+ show preferences" to open the UIO panel
3. Set "text size" to a value less than 1
4. See error

### Expected behavior
The arrow icons should scale with the text size, as in other environments.

## Sc

[2021-12-21 06:00] BlueSlug opened #255 "`code` elements overflow their container at narrow widths"
## Describe the bug
`code` elements overflow their container at narrow widths

### To reproduce
Steps to reproduce the behavior:
1. Go to the Infusion 3.0 release news item: https://floeproject.org/news/2021-09-07-infusion-3-release/
2. Scroll down to the `code` elements on the page, under the heading "Framework"
3. See error

### Expected behavior
`code` elements should not flow beyond their cont

[2021-12-21 10:50] BlueSlug opened #257 "Site header nav wraps at medium widths"
## Describe the bug
At widths just greater than the `40rem` breakpoint between narrow and wide (less than 15px wider), the site nav wraps. When the current-page indicator is present, this is especially jarring.

### To reproduce
Steps to reproduce the behavior:
1. Go to the Index page: http://floeproject.org/
2. Set the viewport width to just greater than `40rem` (approximately 645 pixels with def

[2022-01-11 15:59] BlueSlug commented on #242
Once this work has been completed, the Contribution Guidelines (CONTRIBUTING.md) should be updated to reflect the new rules and conventions for styling.

[2022-01-11 18:19] cindyli opened #262 "Large UIO font size will make the page on small mobile screen horizontally scrollable"
## Describe the bug
When using large UIO font size, on small mobile screens, page widths exceed the screen width and pages become horizontally scrollable.

### To reproduce
Steps to reproduce the behavior:
1. Go to any page;
2. Switch to iphone 5 mobile screen;
2. Open UIO, set font size to 2;
3. The horizontal bar appears and the page is horizontally scrollable.

### Expected behavior
The page sh

[2022-01-11 18:44] cindyli commented on #262
Related to https://github.com/fluid-project/floeproject.org/issues/238

[2022-01-11 18:47] BlueSlug opened #263 "Update 404 page text and design"
## Is your feature request related to a problem?
The 404 page copy should be consistent with other websites the IDRC hosts.

## Describe the solution you'd like
The copy should be the same as the IDRC's website:
"404 Error
Sorry, this page doesn't exist. [Back to home](http://floeproject.org/)"
![image](https://user-images.githubusercontent.com/547933/148999035-e13a2bf4-c1c1-4b24-b777-04a56b082e87

[2022-01-13 21:39] cindyli commented on #262
Fixed with the merge of https://github.com/fluid-project/floeproject.org/pull/258

[2022-01-13 21:39] #262 closed

[2022-01-14 23:17] #263 closed

[2022-01-14 23:17] #239 closed

[2022-01-14 23:20] #247 closed

[2022-01-14 23:22] #243 closed

[2022-01-14 23:23] #241 closed

[2022-01-14 23:23] #238 closed

[2022-02-04 15:18] DawnArchi01 commented on #237
@jhung  Still open ?

[2022-02-04 15:27] DawnArchi01 commented on #257
@BlueSlug can I work on it ?

[2022-02-08 00:11] BlueSlug commented on #257
You are certainly welcome to work on this issue! I recommend taking some time to review our [code of conduct](https://wiki.fluidproject.org/display/fluid/Inclusion+in+the+Fluid+Community) and [contribution guidelines](https://github.com/fluid-project/floeproject.org/blob/main/CONTRIBUTING.md) before tackling the work.

[2022-06-06 10:53] spudthebud opened #271 "Add "What is this?" Panel"
### Fictitious User stories to illustrate the need.

Issue:  The preference panel does not include a "what is" section. As a result, users are required to make inferences about what it does and why. This increases cognitive load on users and takes more time to understand.  A solution is to add a "What is this?"

### User story 1

I am sighted and don't have any learning disabilities.  I believe we

[2022-06-13 13:07] jobara commented on #271
@spudthebud thanks for the feedback/suggestion. Your suggestion appears to be related to [User Interface Options](https://docs.fluidproject.org/infusion/development/userinterfaceoptionsapi) component from our [Infusion](https://fluidproject.org/infusion.html) JavaScript framework and widget toolkit. I've filed your request directly against that component and the issue can be followed on the ticket

[2022-06-13 13:34] spudthebud commented on #271
Seem like the page for theFLUID-6739 link is not publicly available

[2022-06-13 13:56] jobara commented on #271
@spudthebud sorry bit of a issue with that site at the moment. You can access it using fluid/fluid.